page-home {
    .row {
        &, * {
            width: 100%;
        }
    }
    .container-fluid{
        // color: white;
        text-align: center;
        height: 100%;
        width: 100%;
        padding: 0 !important;
        padding-top: 10px !important; 
    }
    .row{
        width: 100% !important;
        margin: 0;
    }
    // background-color:#181515;
    background-color:whitesmoke;
    //whitesmoke
    // #footer {
    //     position: absolute;
    //     left: 0;
    //     bottom: 0;
    //     width: 100%;
    //     color: white;
    //     text-align: center;
    //  }
    .lotto-cards{
        width: 100%;
    }
    .card{
        box-shadow: 5px 5px grey;
    }
    .prize{
        max-height: 200px;
        // background-color: black;
    }
   .lotto-ticket{
    display: inline-block; 
   }
    i{
        cursor: pointer;
    }
    #info{
        float: left;
        .card{
            height: 80% !important;
        }
    }
    #lotteryB{
        background-color: green;
        width: 150px;
    }
    .lottery{
        margin-top: 50px;
    }
    #content {
        width: 100px;
        height: 100px;
        position: relative;
      }
    #lotto-info{
        //   background-color: grey;
        //   border: black 2px solid;
    }
    #share{
       background-color: #bb0000;
    }
    #survey{
       background-color: #2a2afb;
       border-top: black 1px solid;
       border-bottom: black 1px solid;
    }
    #botton{
        border-top: #00000075 3px solid;
        color: white;
    }
    #add_dollar{
        border:2px solid black;
        width: 25px;
        height: 40px;
        max-width: 50%;
        margin: auto;
        max-height: 100%;
    }
    .fa-share-alt-square:before{
        vertical-align: sub;
    }
    canvas{
        height: 100px !important;
        width: 100px !important;
    }
}
