page-home {
    .container-fluid{
        padding-left: 0 !important;
    }
    background-color:#181515;
    .content{
        color: white;
        text-align: center;
        height: 100%;
        width: 100%;
        padding: 15px;
        // background-color: rgb(31, 25, 25);
        
        
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
     }
    .lotto-cards{
        width: 100%;
    }
   .lotto-ticket{
    display: inline-block; 
    margin:10px;
   }
    i{
        cursor: pointer;
    }
    #info{
        float: left;
    }
    #lotteryB{
        background-color: green;
        width: 150px;
    }
    .lottery{
        margin-top: 100px;
    }
    #content {
        width: 100px;
        height: 100px;
        position: relative;
      }
}
