ad-button {
        h1{
            color: white;
            font-size: 20x;
        }
        .tab-warpper{
            text-align: center;
            background-color: green;
            width: 100%;
            // border: 3px solid rgb(1, 72, 1);
        }

}
