lotto-ticket {
        height: 100px !important;
        padding: 5px;
        img, button{
            // background-color: green;
            border: 2px solid black;
            height: 100%;
            
            // padding: 10px;
        }
        .dollar{
            height: 50px;
        }
        // .id{
        //     display: inherit;
        // }

}
